In [ ]:
import pandas
anno = pandas.read_excel('/content/annotated_genes.xlsx', index_col=None, header=0)

In [ ]:
morph = pandas.read_csv('/content/leaf_morph.csv', index_col=None, header=0)

In [ ]:
acc = pandas.read_csv('/content/Enriched_Accessions.csv', index_col = None, header=2)

In [ ]:
acc

    Plant ID  ...                             MAS2.0 annotation file
0          1  ...                                                NaN
1          5  ...                                                NaN
2          7  ...                                                NaN
3          8  ...                                                NaN
4          9  ...                                                NaN
5         11  ...                                                NaN
6         12  ...                                                NaN
7         13  ...  ftp://ftp.solgenomics.net:21/genomes/tomato100...
8         15  ...                                                NaN
9         16  ...  ftp://ftp.solgenomics.net:21/genomes/tomato100...
10        19  ...                                                NaN
11        23  ...                                                NaN
12        28  ...                                                NaN
13        42  ...  ftp://ftp.solgenomics.net:21/genomes/tomato100...
14        45  ...                                                NaN
15        46  ...  ftp://ftp.solgenomics.net:21/genomes/tomato100...
16        47  ...                                                NaN
17        49  ...                                                NaN
18        55  ...                                                NaN
19        56  ...                                                NaN
20        58  ...                                                NaN
21        60  ...                                                NaN
22        62  ...                                                NaN
23        64  ...                                                NaN
24        72  ...  ftp://ftp.solgenomics.net:21/genomes/tomato100...
25        74  ...                                                NaN
26        75  ...                                                NaN
27        77  ...  ftp://ftp.solgenomics.net:21/genomes/tomato100...
28        78  ...                                                NaN
29        91  ...                                                NaN
30        92  ...                                                NaN
31        93  ...                                                NaN
32        94  ...                                                NaN
33        96  ...                                                NaN
34        97  ...                                                NaN
35        98  ...                                                NaN

[36 rows x 12 columns]

In [ ]:
anno

                 Gene                SV       P-Value  Corrected P  Rank
0    Solyc02g082725.1     1_3400_1_2524  1.441496e-07     0.000299     1
1    Solyc08g150112.1   2_32830_1_26620  1.956012e-07     0.000299     1
2    Solyc08g150112.1   2_32829_2_26619  1.956012e-07     0.000299     1
3    Solyc07g063810.2     1_8391_1_6844  2.669313e-07     0.000299     1
4    Solyc12g013750.2   3_40655_1_34332  2.731873e-07     0.000299     1
..                ...               ...           ...          ...   ...
266  Solyc08g007400.4  13_33140_2_24614  2.294906e-03     0.047024   626
267  Solyc02g091665.1    2_10133_2_7746  2.312492e-03     0.047208   311
268  Solyc02g080440.3     2_9349_0_7100  2.386311e-03     0.048533   809
269  Solyc01g068240.3     2_4493_1_3271  2.427308e-03     0.049003   873
270  Solyc10g008210.3   1_12080_1_10129  2.427308e-03     0.049003   223

[271 rows x 5 columns]

In [ ]:
morph_match = []
list(morph['x'])
list(anno['Gene'])
for gene in list(anno['Gene']):
  if gene[:-2] in list(morph['x']):
    morph_match.append(gene)

In [ ]:
morph_match
morph_match = anno[anno['Gene'].isin(morph_match)]

In [ ]:
morph_match.to_csv("matching_genes.tsv", sep="\t", index=False)

In [ ]:
SV_data = pandas.read_csv("/content/trimmed_enriched.vcf", header=0, delimiter='\t')
SV_data

         #CHROM      POS                ID  ... strand phase attributes
0     SL4.0ch01    75180           5_330_1  ...    NaN   NaN        NaN
1     SL4.0ch01   111205         2_211_2_7  ...    NaN   NaN        NaN
2     SL4.0ch01   163951        2_218_3_16  ...    NaN   NaN        NaN
3     SL4.0ch01   221152        2_224_1_18  ...    NaN   NaN        NaN
4     SL4.0ch01   223851        2_225_1_19  ...    NaN   NaN        NaN
...         ...      ...               ...  ...    ...   ...        ...
5466  SL4.0ch12  1420591   2_46104_2_37276  ...    NaN   NaN        NaN
5467  SL4.0ch12  1595732   2_46128_5_37300  ...    NaN   NaN        NaN
5468  SL4.0ch12  1620991   2_46132_4_37303  ...    NaN   NaN        NaN
5469  SL4.0ch12  1643784   2_46137_2_37306  ...    NaN   NaN        NaN
5470  SL4.0ch12  1645039  10_23563_1_19555  ...    NaN   NaN        NaN

[5471 rows x 54 columns]

In [ ]:
SV_list = list(morph_match['SV'])
gene_list = list(morph_match['Gene'])
num = (list(acc['Plant ID']))
num.insert(0,'Gene Id')
num.insert(0,'SV Id')

In [ ]:
morph_match

                 Gene                SV   P-Value  Corrected P  Rank
9    Solyc03g043870.3    2_11095_0_8528  0.000001     0.000510     1
10   Solyc03g031440.4     1_4089_1_3124  0.000001     0.000510   261
11   Solyc07g064500.3       0_8882_7263  0.000001     0.000510     1
19   Solyc02g063200.3     0_2670_2_1900  0.000003     0.000775     1
20   Solyc01g107520.3     3_5631_2_4262  0.000003     0.000775     1
..                ...               ...       ...          ...   ...
263  Solyc04g080920.3   2_18711_1_14819  0.002289     0.047024   118
265  Solyc07g005450.3   5_15401_3_13417  0.002289     0.047024   431
266  Solyc08g007400.4  13_33140_2_24614  0.002295     0.047024   626
268  Solyc02g080440.3     2_9349_0_7100  0.002386     0.048533   809
269  Solyc01g068240.3     2_4493_1_3271  0.002427     0.049003   873

[112 rows x 5 columns]

In [ ]:
len(gene_list)

112

In [ ]:
len(SV_list)

112

In [ ]:
len(num)

38

In [ ]:
a = list(SV_data['Genes'])
len(set(a) & set(gene_list))

102

In [ ]:
corresponding = SV_data[SV_data['ID'].isin(SV_list)]
corresponding

         #CHROM  ...                                         attributes
1     SL4.0ch01  ...                                                NaN
5     SL4.0ch01  ...                                                NaN
7     SL4.0ch01  ...                                                NaN
31    SL4.0ch01  ...                                                NaN
68    SL4.0ch01  ...                                                NaN
...         ...  ...                                                ...
5048  SL4.0ch10  ...                                                NaN
5082  SL4.0ch12  ...                                                NaN
5228  SL4.0ch12  ...  Superfamily=TIR_MITEun10;Target=DTX-incomp_EA0...
5235  SL4.0ch11  ...                                                NaN
5264  SL4.0ch10  ...                                                NaN

[112 rows x 54 columns]

In [ ]:
list(corresponding['ID'])[0]

'2_211_2_7'

In [ ]:
corresponding.iloc[1]

#CHROM                                                      SL4.0ch01
POS                                                            314553
ID                                                          1_347_1_2
Genes                                                Solyc01g005430.3
REF                                                                 T
ALT                       TGAGCATCTATCTGGGGCTTTTCATTGTCGGCCCTTCTCGTGG
QUAL                                                                .
FILTER                                                           PASS
INFO                PRECISE;SVMETHOD=JASMINE;CHR2=SL4.0ch01;END=31...
FORMAT                                                       GT:DR:DV
BGV006175.ont.s                                                   NaN
BGV006232.ont.s                                              1/1:2:63
BGV006336.ont.s                                              1/1:8:64
BGV006370.ont.s                                              1/1:6:55
BGV006454.ont.s                                              1/1:4:58
BGV006767.ont.s                                              1/1:7:47
BGV006768.ont.s                                              1/1:9:50
BGV006775.ont.s                                                   NaN
BGV006852.ont.s                                              1/1:5:42
BGV006865.ont.s                                                   NaN
BGV006906.ont.s                                                   NaN
BGV007109.ont.s                                                   NaN
BGV007198.ont.s                                                   NaN
BGV007931.ont.s                                              1/1:8:43
BGV007981.ont.s                                             0/1:14:18
BGV007989.ont.s                                                   NaN
BGV007992.ont.s                                              1/1:8:29
BGV008042.ont.s                                                   NaN
BGV008108.ont.s                                             1/1:12:48
BGV008189.ont.s                                             1/1:12:46
BGV008225.ont.s                                              1/1:6:33
BGV012615.ont.s                                                   NaN
BGV012626.ont.s                                                   NaN
BGV013161.ont.s                                                   NaN
Brandywine.ont.s                                             1/1:5:68
Fla.7907B.ont.s                                              1/1:9:57
Fla.8059.ont.s                                                    NaN
EA00990.ont.s                                               1/1:11:53
LA0317.ont.s                                                      NaN
LA1237.ont.s                                                      NaN
LA1245.ont.s                                                0/1:28:33
LA1279.ont.s                                                      NaN
LA1335.ont.s                                                 1/1:8:54
LA1406.ont.s                                                      NaN
LA1407.ont.s                                                      NaN
LA1409.ont.s                                                      NaN
source                                                            NaN
type                                                              NaN
start                                                             NaN
end                                                               NaN
score                                                             NaN
strand                                                            NaN
phase                                                             NaN
attributes                                                        NaN
Name: 5, dtype: object

In [ ]:
bool_list = corresponding.iloc[1].isna()

row = list(bool_list[10:-8])
row.insert(0,list(corresponding['ID'])[1])
row.insert(0,list(corresponding['Genes'])[1])

In [ ]:
bool_list

#CHROM              False
POS                 False
ID                  False
Genes               False
REF                 False
ALT                 False
QUAL                False
FILTER              False
INFO                False
FORMAT              False
BGV006175.ont.s      True
BGV006232.ont.s     False
BGV006336.ont.s     False
BGV006370.ont.s     False
BGV006454.ont.s     False
BGV006767.ont.s     False
BGV006768.ont.s     False
BGV006775.ont.s      True
BGV006852.ont.s     False
BGV006865.ont.s      True
BGV006906.ont.s      True
BGV007109.ont.s      True
BGV007198.ont.s      True
BGV007931.ont.s     False
BGV007981.ont.s     False
BGV007989.ont.s      True
BGV007992.ont.s     False
BGV008042.ont.s      True
BGV008108.ont.s     False
BGV008189.ont.s     False
BGV008225.ont.s     False
BGV012615.ont.s      True
BGV012626.ont.s      True
BGV013161.ont.s      True
Brandywine.ont.s    False
Fla.7907B.ont.s     False
Fla.8059.ont.s       True
EA00990.ont.s       False
LA0317.ont.s         True
LA1237.ont.s         True
LA1245.ont.s        False
LA1279.ont.s         True
LA1335.ont.s        False
LA1406.ont.s         True
LA1407.ont.s         True
LA1409.ont.s         True
source               True
type                 True
start                True
end                  True
score                True
strand               True
phase                True
attributes           True
Name: 5, dtype: bool

In [ ]:
corresponding

         #CHROM  ...                                         attributes
1     SL4.0ch01  ...                                                NaN
5     SL4.0ch01  ...                                                NaN
7     SL4.0ch01  ...                                                NaN
31    SL4.0ch01  ...                                                NaN
68    SL4.0ch01  ...                                                NaN
...         ...  ...                                                ...
5048  SL4.0ch10  ...                                                NaN
5082  SL4.0ch12  ...                                                NaN
5228  SL4.0ch12  ...  Superfamily=TIR_MITEun10;Target=DTX-incomp_EA0...
5235  SL4.0ch11  ...                                                NaN
5264  SL4.0ch10  ...                                                NaN

[112 rows x 54 columns]

In [ ]:
df = pandas.DataFrame(columns = num)
df.loc[0] = row
df

              SV Id    Gene Id     1      5  ...     94    96    97    98
0  Solyc01g005430.3  1_347_1_2  True  False  ...  False  True  True  True

[1 rows x 38 columns]

In [ ]:
#First row of dataframe, gene:Solyc01g005100.4, rank 1
#Visually impressive Trues(Longer leaeves, strong ridges) 45, 46, 55, 56, 62
#Visually impressive False(More circular leaves, less ridges) 09, 28, 60, 78, 94, 98

In [ ]:
SV_data = SV_data.drop(['#CHROM', 'POS', 'REF', 'ALT', 'QUAL', 'FILTER', 'INFO', 'FORMAT', 'source', 'type', 'start', 'end', 'score', 'strand', 'phase', 'attributes'], axis=1)

In [ ]:
SV_data.columns = num

In [ ]:
SV_data

                 SV Id           Gene Id    1  ...         96        97         98
0              5_330_1  Solyc01g005060.3  NaN  ...        NaN       NaN        NaN
1            2_211_2_7  Solyc01g005100.4  NaN  ...   1/1:5:72  1/1:0:66   1/1:0:28
2           2_218_3_16  Solyc01g005210.4  NaN  ...        NaN       NaN        NaN
3           2_224_1_18  Solyc01g005280.3  NaN  ...        NaN       NaN        NaN
4           2_225_1_19  Solyc01g005290.4  NaN  ...        NaN       NaN        NaN
...                ...               ...  ...  ...        ...       ...        ...
5466   2_46104_2_37276  Solyc12g006980.2  NaN  ...        NaN       NaN        NaN
5467   2_46128_5_37300  Solyc12g007150.3  NaN  ...        NaN       NaN        NaN
5468   2_46132_4_37303  Solyc12g007170.3  NaN  ...  0/1:28:48  1/1:0:45  0/1:24:21
5469   2_46137_2_37306  Solyc12g007220.3  NaN  ...        NaN       NaN        NaN
5470  10_23563_1_19555  Solyc12g007220.3  NaN  ...   1/1:5:86  1/1:0:55   1/1:8:35

[5471 rows x 38 columns]

In [ ]:
SV_data[SV_data['SV Id'] == "Solyc01g005100.4"].isna()

Empty DataFrame
Columns: [SV Id, Gene Id, 1, 5, 7, 8, 9, 11, 12, 13, 15, 16, 19, 23, 28, 42, 45, 46, 47, 49, 55, 56, 58, 60, 62, 64, 72, 74, 75, 77, 78, 91, 92, 93, 94, 96, 97, 98]
Index: []

In [ ]:
x = SV_data[SV_data['SV Id'] == "Solyc01g005100.4"].isna()
x

Empty DataFrame
Columns: [SV Id, Gene Id, 1, 5, 7, 8, 9, 11, 12, 13, 15, 16, 19, 23, 28, 42, 45, 46, 47, 49, 55, 56, 58, 60, 62, 64, 72, 74, 75, 77, 78, 91, 92, 93, 94, 96, 97, 98]
Index: []

In [ ]:
x.to_csv("bool.tsv", sep="\t", index=False)

In [ ]:
pcs = pandas.read_csv('/content/PC1_means.csv', index_col = None, header=0)

In [ ]:
name_list = []
for name in list(bool_list.keys())[10:-8]:
  name_list.append(name[:-6])

In [ ]:
set(pcs["genotype"]) & set(name_list)

{'BGV006175',
 'BGV006232',
 'BGV006336',
 'BGV006370',
 'BGV006454',
 'BGV006767',
 'BGV006768',
 'BGV006775',
 'BGV006852',
 'BGV006865',
 'BGV006906',
 'BGV007109',
 'BGV007198',
 'BGV007931',
 'BGV007981',
 'BGV007989',
 'BGV007992',
 'BGV008042',
 'BGV008108',
 'BGV008189',
 'BGV008225',
 'BGV012615',
 'BGV012626',
 'BGV013161',
 'Brandywine',
 'EA00990',
 'Fla.7907B',
 'Fla.8059',
 'LA0317',
 'LA1237',
 'LA1245',
 'LA1279',
 'LA1335',
 'LA1406',
 'LA1407',
 'LA1409'}

In [ ]:
pcs

         genotype  Estimate
0       Fla.7907B -0.147000
1    Manalucie015 -0.143725
2        TS304015 -0.136167
3     PI129033019 -0.128646
4         what067 -0.128000
..            ...       ...
148        LA1137  0.206000
149        LA0483  0.208889
150        LA0531  0.210487
151        LA1410  0.228000
152        LA1409  0.232833

[153 rows x 2 columns]

In [ ]:
pcs = pcs[pcs['genotype'].isin(name_list)]
len(pcs)

36

In [ ]:
pcs.to_csv("matching_pc1.tsv", sep="\t", index=False)